<launch>
    <arg name="log"/>
    <rosparam command="load" file="$(find hardware_interface)/params/ports.yaml"></rosparam>
    <node name="spark_control_interface_node" pkg="hardware_interface" type="spark_controller_node.py" output="$(arg log)">
    </node>
    <node name="spark_wheel_odometry_node" pkg="hardware_interface" type="spark_wheel_odometry.py" output="$(arg log)">
    </node>
</launch>